.experiance {
    position: relative;
    padding: 120px 0;
}

.experianceCircle {
    position: relative;
    z-index: 2;
    &::before {
        content: '';
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: $main-color;
        position: absolute;
        z-index: -1;
        top: -8px;
        left: 544px;
    }
}

.experSubTitle {
    text-align: center;
    padding-bottom: 20px;
}
.experTitle{
    text-align: center;
}

.headerDivider {
    width: 60px;
    height: 3px;
    background-color: $main-color;
    margin: 0 auto;
    margin-top: 25px;
    
}