
@mixin before__circle {
    &:before {
        content: '';
        width: 36px;
        height: 36px;
        background: $main-color;
        border-radius: 100%;
        z-index: -1;
        position: absolute;
    }
}