.progressbar__wrapper {
    width: 100%;
    padding-bottom: 126px;
    .progressbar__container {
        display: grid;
        grid-template-columns: repeat(3, minmax(auto , 350px));
        grid-template-rows: repeat(2, minmax(auto, 70px));
        column-gap: 45px;
        row-gap: 30px;
        .progressbar__container-item-header {
            display: flex;
            justify-content: space-between;
        }
        &-item-title {
            padding-right: 12px;
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            position: relative;
            left: 12px;
            &::before {
                content: '';
                position: absolute;
                width: 36px;
                height: 36px;
                border-radius: 100%;
                background-color: #ffa501;
                z-index: -1;
                top: -7px;
                left: -12px;
            }
        }

        &-item-percent {
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
        }

        &-item-progress {
            padding-top: 26px;
            display: flex;
        }
        .complete {
            height: 15px;
            background-color: #FFA501;;
            border-radius: 4px;
            margin: 0;
            padding: 0;
        }
        .uncomplete {
            height: 15px;
            background-color: #E8E4DE;
            border-radius: 4px;
            margin: 0;
            padding: 0;
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
    }
}