
@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@500&family=Poppins:ital,wght@0,500;0,700;1,400;1,600&family=Roboto:wght@400;500&display=swap');
@import 'promo';
@import 'title';
@import 'btn';
@import 'mixins';
@import 'sidebar';
@import 'menu';
@import 'second.scss';

* {
    font-family: 'Poppins' , sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.black {
    color: #000;
}

.title__fz16 {
    font-size: 16px;
    padding-bottom: 8px;
    z-index: 1;
    letter-spacing: 1px;
    
}

.title__fz48 {
    font-size: 48px;
}

.title__fz36 {
    font-size: 36px;
}


