.progressbar__wrapper {
  width: 100%;
  padding-bottom: 126px;
}

.progressbar__wrapper .progressbar__container {
  display: grid;
  grid-template-columns: repeat(3, minmax(auto, 350px));
  grid-template-rows: repeat(2, minmax(auto, 70px));
  -moz-column-gap: 45px;
       column-gap: 45px;
  row-gap: 30px;
}

.progressbar__wrapper .progressbar__container .progressbar__container-item-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 27px;
}

.progressbar__wrapper .progressbar__container-item-title {
  padding-right: 12px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  position: relative;
  left: 12px;
}

.progressbar__wrapper .progressbar__container-item-title::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: #ffa501;
  z-index: -1;
  top: -7px;
  left: -12px;
}

.progressbar__wrapper .progressbar__container-item-percent {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.progressbar__wrapper .progressbar__container .rating__line {
  position: relative;
  width: 100%;
  height: 14px;
  background-color: #e8e4de;
  border-radius: 4px;
}

.progressbar__wrapper .progressbar__container .rating__line .rating__line-progress {
  display: block;
  height: 14px;
  background-color: #ffa501;
  border-radius: 4px;
}